<footer itemscope itemtype="https://schema.org/WPFooter">
    <div class="container">
        <div class="footer-container">
            <div>
                <div class="footer-logo">
                    <img src="/EcoTekTest/static/images/Screenshot_1.jpg" alt="Логотип ЭКОТЭК АС" class="logo-image" width="50" height="50" loading="lazy" decoding="async">
                </div>
                <p><strong itemprop="name">ЭКОТЭК АС</strong></p>
                <p itemprop="description">Продажа печного топлива в Москве и области. Профессиональные решения в сфере утилизации отходов и поставки нефтепродуктов.</p>
            </div>
            <div class="footer-details" itemscope itemtype="https://schema.org/Organization">
                <p><strong>Реквизиты компании:</strong></p>
                <p itemprop="legalName">ООО "ЭКОТЭК АС"</p>
                <p>ИНН: <span itemprop="taxID">5042157588</span></p>
                <p>ОГРН/ОГРНИП: <span itemprop="identifier">1215000106221</span></p>
                <p>Телефон: <a href="tel:+79266150077" itemprop="telephone">+7 (926) 615-00-77</a></p>
                <p itemprop="location" itemscope itemtype="https://schema.org/Place">
                    <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                        <span itemprop="postalCode">142450</span>,
                        <span itemprop="addressRegion">Московская область</span>,
                        Богородский городской округ,
                        <span itemprop="addressLocality">г. Старая Купавна</span>,
                        <span itemprop="streetAddress">ул. Дорожная, 21Б</span>
                    </span>
                </p>
            </div>
        </div>
        <div class="footer-copy">
            &copy; <span id="current-year"></span> ООО "ЭКОТЭК АС". Все права защищены.
        </div>
    </div>
</footer>
